@page
@model Helsinki_City_Bike_App.Pages.Stations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Station.StationID" />
            <div class="form-group">
                <label asp-for="Station.Name" class="control-label"></label>
                <input asp-for="Station.Name" class="form-control" />
                <span asp-validation-for="Station.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station.Address" class="control-label"></label>
                <input asp-for="Station.Address" class="form-control" />
                <span asp-validation-for="Station.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station.Capacity" class="control-label"></label>
                <input asp-for="Station.Capacity" class="form-control" />
                <span asp-validation-for="Station.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station.Longitude" class="control-label"></label>
                <input asp-for="Station.Longitude" class="form-control" />
                <span asp-validation-for="Station.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station.Latitude" class="control-label"></label>
                <input asp-for="Station.Latitude" class="form-control" />
                <span asp-validation-for="Station.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
