@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center">
    <div class="card-body">
        <p class="card-text">
            This is is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core Razor Pages web app.</p>
         <p class="card-text mb-auto">
              You can download the completed project or
              build the application by following the steps found in Github.
          </p>
          <br>
        <a href="https://github.com/makehaapis/Helsinki-City-Bike-App" class="btn btn-primary">"Go to GitHub repository."</a>
    </div>
</div>